<html xmlns:py="http://genshi.edgewall.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="templates/annonce_list.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table>
    <tr>
        <th>Titre</th>
        <th>Prix</th>
        <th>Surface</th>
        <th>Description</th>        
        <th>Photos</th>
    </tr>
    <tr py:for="an in annonce_list">
        <td class="title"><a href="${an.full_url}">${an.full_title}</a></td>
        <td class="price">${an.price}</td>
        <td class="surface">${an.surface}</td>
        <td class="description">
            <div class="bloc_description">
                <div class="bloc_description_internal">
                    ${an.description}
                </div>
            </div>
        </td>
        <?python
        img_list = an.image_src_list
        n_imgs = len(img_list)
        n_rows = n_imgs / 2
        impair = 2*n_rows < n_imgs
        moins_de_2_pics = ''
        if n_imgs <= 2:
            moins_de_2_pics = ' moins_de_2'
        ?>
        <?python
        def has_second_cell(row_index):
            #res = len(an.image_src_list)
            ii = 2 * row_index + 1
            return ii < n_imgs

        def get_bloc_photos_class():
            res = 'bloc_photos' 
            if n_imgs >= 2:
                return res + ' plus_de_2'
            return res
        ?>
        <td class="photos">
            <div class="${get_bloc_photos_class()}">
                <div class="bloc_photos_table">
                    <py:for each="row_i in range(n_rows)">
                        <div class="bloc_photos_row">
                            <img class="photo" src="${img_list[2*row_i]}" />
                            <img class="photo" src="${img_list[2*row_i+1]}" />
                        </div>
                    </py:for>
                    
                    <div py:if="impair" class="bloc_photos_row">
                        <img class="photo" src="${img_list[n_imgs-1]}" />
                    </div>
                    
                </div>
            </div>
        </td>
    </tr>

</table>

</body>

</html>